<html>
  <head>
    <title>Генератор логических выражений</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='../lib/bootstrap.min.css'>
    <link rel='stylesheet' href='style.css'>
  </head>
  <body ng-app="BoolGen" ng-controller="BoolGenCotrloller">
    <a href="https://github.com/uraltus/BoolGen"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
    <div class='contaner'>

      <!-- Hearder -->
      <h2>{{ 'TITLE' | translate }} <span class="languages">[<a ng-click="changeLanguage('en')">EN</a> | <a ng-click="changeLanguage('ru')">Ru</a>]</span></h2>
      <p><a href='../'>{{ 'SWITCH_TO_STUDENT' | translate }}</a></p>
      <p>{{ 'DESCRIPTION' | translate }}</p>

      <!-- Conditions -->
      <div class='condition row'>
        <h4  class="box-header">{{ 'OPTIONS' | translate }}</h4>
        <div class="col-lg-6">
          <div class="page-header row">
              <h5 for="select" class="col-lg-10 control-label">{{ 'VARIANTS_QUANTITY' | translate }}</h5>
              <div class="col-lg-2">
                <select class="form-control" ng-options="n for n in [] | range:1:30" ng-model="variantsQuatity" ng-change="refresh()">
                </select>
              </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <td>{{ 'EXAMPLE' | translate }}</td>
                <td>{{ 'QUANTITY' | translate }}</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="expType in expressionTypes">
                <td>{{expType.example}}</td>
                <td>
                  <select class="form-control" ng-options="n for n in [] | range:0:7" ng-model="expType.quantity" ng-change="refresh()">
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="refresh-button">
            <p ng-click="refresh()">{{ 'REGENERATE' | translate }} <span class="glyphicon glyphicon-refresh"></span></p>
          </div>
        </div>
      </div>

      <br />
      <!-- Tasks -->
      <div>
        <h4 class="box-header">{{ 'TASKS' | translate }}</h4>
        <div ng-repeat="variant in generatedExpression">
        <br />
          <h5>{{ 'VARIANT' | translate }} {{$index + 1}}:</h5>
          <ol>
            <li ng-repeat="expression in variant track by $index">



              <div ng-if="!isArray(expression)">
                <p>{{expression.task}}</p>
              </div>
              <div ng-if="isArray(expression)">
                <p ng-repeat="item in expression">{{item.task}}</p>
              </div>
            </li>
          </ol>
        </div>
      </div>

      <br />
      <!-- Answers -->
      <div>
        <h4  class="box-header">{{ 'ANSWERS' | translate }}</h4>
        <div ng-repeat="variant in generatedExpression">
        <br />
          <h4>{{ 'VARIANT' | translate }} {{$index + 1}}:</h4>
          <ol>
            <li ng-repeat="expression in variant">
              <div ng-if="!isArray(expression)">
                <p>{{expression.answer}}</p>
              </div>
              <div ng-if="isArray(expression)">
                <p ng-repeat="item in expression track by $index">{{item.answer}}</p>
              </div>
            </li>
          </ol>
        </div>
      </div>

    </div>
  </body>
  <script src='../generator/Random.js'></script>
  <script src='../generator/Alphabet.js'></script>
  <script src='../generator/SingleVariable.js'></script>
  <script src='../generator/SingleArithmeticComp.js'></script>
  <script src='../generator/Negation.js'></script>
  <script src='../generator/Collection.js'></script>
  <script src='../generator/PreBoolGen.js'></script>
  <script src='../generator/WithAnyValues.js'></script>
  <script src='../generator/BoolGen.js'></script>
  <script src='../lib/angular.min.js'></script>
  <script src="../lib/angular-translate.min.js"></script>
  <script src='script.js'></script>
  <script>
  </script>
</html>
